/* ProfiloUtente.module.css */

.profileContainer {
  background-color: rgba(255, 255, 255, 0.8); /* Sfondo sfocato */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra */
}

.profileContainer svg {
  color: green; /* Colore dell'icona */
}

.profileContainer .btn {
  margin-top: 10px;
}
